<div class="player">
  <div class="custom-audio-player">
    <a href="https://www.bandnfts.com/" class="band" target="_parent" > <img src="/static/img/bandNFTs.png" alt=""> </a>
   
    
    <audio controls preload="none" controlsList="nodownload" ref="player">
      <source v-if="currentList.soundfile" :src="currentList.soundfile.mp3" type="audio/mp3"> Your browser does not support the audio element.
    </audio>
  </div>

  <!-- <p class="title">{{currentList.title}}</p> -->
  <div class="cover-avatar">
    <img :src="currentList.image" :alt="currentList.title">
  </div>
  
  <div class="cover-image" :style="{ backgroundImage: 'url('+currentList.image+')' }"></div>
 

</div>